.App {
  padding: 1rem;
  background-color: #191414;
  text-align: center;
}

h1 {
  padding-bottom: 2rem;
  color: #faf0e6;
}

textarea {
  min-height: 5em;
  max-height: 50vh;
  width: 100%;
  background-color: #f1f9ec;
  border-color: #1db954;
}
